name: Terraform CI

# 언제 실행할까? -> main 브랜치로 Pull Request가 올 때마다
on:
  pull_request:
    branches: [ "main" ]

# 무슨 일을 할까?
jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    
    # 3단계에서 등록한 키를 환경변수로 불러옴
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ap-northeast-2

    steps:
      # 1. 내 코드를 로봇 컴퓨터로 가져오기
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. 테라폼 설치하기
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # 3. 테라폼 초기화 (S3 백엔드 연결)
      - name: Terraform Init
        run: terraform init

      # 4. 변경 사항 예측하기 (Plan)
      - name: Terraform Plan
        run: terraform plan